/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(./roboto.css);
@import url(./fontawesome-all.min.css);

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fdfdfd;
}

.reveal {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; 
  width: 70%;
  height: 100%;
} 
.reveal .slides section.past,
.reveal .slides section.present,
.reveal .slides section.future {
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: black;
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.7em;
  letter-spacing: normal;
  text-shadow: none;
  text-align: left;
}
.reveal h1,
.reveal h2 {
  background-image: url(../img/blue-bar.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  width: 40%;
  font-weight: 700;
}


.reveal h1 {
  font-size: 1.8em; 
}

.reveal h2 {
  font-size: 1.4em; }

.reveal h3 {
  font-size: 1.2em; 
  font-weight: 400;
}

.reveal h4 {
  font-size: 1.1em; 
  font-weight: 400;
}

.reveal h5 {
  font-weight: 400;
  font-size: 1em; 
}

.reveal h6 {
  text-decoration: underline;
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/

.reveal p ,
.reveal ol,
.reveal dl,
.reveal ul 
{
  padding-top: 1em;
}

.reveal p {
  margin: 2em 0;
  font-size: 0.6em;
  line-height: 1.2; 
  text-align: justify;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal img {
  border: none;
}

.reveal strong,
.reveal b {
  font-weight: bold;
 }


.reveal em {
  font-style: italic; 
}

.reveal ol,
.reveal dl,
.reveal ul {
  font-size: 0.6em;
  display: inherit;
  text-align: left;
  margin: 0 0 0 4em;
 }

.reveal ol {
  list-style-type: decimal; }

.reveal ul ul {
  list-style-image: none;
  list-style-type: circle;
  font-size: 0.9em;
}

.reveal ul ul ul {
  list-style-image: none;
  list-style-type: square; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; 
}

.reveal q {
  font-style: italic; 
}

.reveal pre {
  display: block;
  position: relative;
  width: auto;
  max-width: 90%;
  margin: 1em auto;
  text-align: left;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); 
}

.reveal pre code{
  font-size: 0.4em;
  line-height: 1.1em;
}
.reveal ul code,
.reveal ol code,
.reveal p code {
  font-family: monospace;
  font-size: 0.85em;
  text-transform: none;
  background-color: #C5D6EC;
  padding: 5px;
}

.reveal pre code {
  display: block;
  padding: 10px;
  overflow: auto;
  max-height: 80%;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.5em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #4C6693;
  text-decoration: underline;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #416530;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  /*background: rgba(255, 255, 255, 0.12);*/
 }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

/*********************************************
 * THINK SPECIFIC
 *********************************************/

#slide-header{
  position: absolute;
  top: 40px;
  right: 0px;
  background-image: url(../img/blue-bar-long.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 3em;
  width: 14em;
}
#slide-header .fab{
  font-size:1.7em;
  padding-right:20px;
}


#slide-header .header-social{
  width: 11em;
}

#slide-header .header-logo{
  width: 4.6em;
  height: 2em;
  position: absolute;
  right: 20px;
  top: 0px;
  background-image: url(../img/logothinkcolors.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size:auto;
}

#slide-footer{
  position: absolute;
  left: 100px;
  bottom: 0px;
  background-image: url(../img/blue-bar-vertical.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 4em;
  padding-left: 30px;
  margin-top:30px;
  font-size: 1.3em;
  color: white;
}

.hidden {
  visibility: hidden;
  display: none;
}
/*********************************************
 * SLIDES THEMES
 *********************************************/
.reveal .slide-background.think .slide-background-content
 {
   background-image: url(../img/background-intro.jpg);

 }
.reveal .slides section.think img {
  width: 60%;
}

/* Center and Title */
.reveal .slides section.think,
.reveal .slides section.center,
.reveal .slides section.title,
.reveal .slides section.chapter
 {
  height: auto;
  width: 100%;
  text-align: center;
}

.reveal .slides section.title h1,
.reveal .slides section.title h2,
.reveal .slides section.chapter h1,
.reveal .slides section.chapter h2
 {
  text-align: center;
  background-image: url(../img/blue-bar.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  font-weight: 700;
  height: 1.7em;
  width:auto;
}

.reveal .slides section.title p, 
.reveal .slides section.chapter p 
{
  text-align: center;
}


.reveal .slides section.wide,
.reveal .slides section.content1,
.reveal .slides section.content2,
.reveal .slides section.content3 {
  width:100%;
}

.reveal .slide-background.content2 .slide-background-content
 {
   background-image: url(../img/rectangle.svg);
   background-position-x: 55%;
   background-repeat: no-repeat;
   background-size: contain;
 }

.reveal .slide-background.content1 .slide-background-content
 {
   background-image: url(../img/trapeze.svg);
   background-position: left bottom;
   background-repeat: no-repeat;
   background-size: contain;
 }

 .reveal .slides section.content1,
 .reveal .slides section.content2
 {
   height: auto;
 }

 
 .reveal .slides section.content2 .split2:first-of-type,
 .reveal .slides section.content3 .split2:first-of-type{
   width: 38%;
 }
 .reveal .slides section.content3 .split2 h2{
   width: 80%;
   text-align: right;
   background-position: bottom right;
 }
 
.reveal .slides section.content3 .split2:nth-of-type(2){
   left: 40%;
   width: 35%;
   height:100%;
   background-image: url(../img/rectangle-small.svg);
   background-position: bottom;
   background-repeat: repeat-x;

}
.reveal .slides section.content3 .split2 p 
{
  padding-top: 0em;
}

.reveal .slides section.content3 .split2 ul,
.reveal .slides section.content3 .split2 ol
{

  margin: 0 0 0 1em;
}
/*********************************************
 * TRANSITION SLIDE EFFECT (aka reverse)
 *********************************************/
.reveal .slides section.reverse h1,
.reveal .slides section.reverse h2,
.reveal .slides section.reverse h3,
.reveal .slides section.reverse h4,
.reveal .slides section.reverse h5,
.reveal .slides section.reverse h6, 
.reveal .slides section.title h1,
.reveal .slides section.title h2 {
  color: white;
}
.reveal .slides section.reverse p,
.reveal .slides section.reverse ul,
.reveal .slides section.reverse ol,
.reveal .slides section.title p,
.reveal .slides section.title ul,
.reveal .slides section.title ol {
  color: white;
}
.reveal .slide-background.reverse .slide-background-content,
.reveal .slide-background.title .slide-background-content {
  background-color:black;
}

.reveal .slide-background.title,
.reveal .slide-background.chapter
 {
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
  color: #fff;

}

#slide-header.reverse .fab{
  color: white ;
}

#slide-header.reverse .header-logo{
  background-image: url(../img/logothinkwhite.svg);
}

.split2{
  width: 48%;
  position: absolute;
  /*font-size: 0.8em;*/
}
.split2:first-of-type{
  left: 0px;
}
.split2:nth-of-type(2){
  right:0px;
}
.split3{
  width: 31%;
  position: absolute;
  font-size: 0.6em;
  
}
.split3:first-of-type{
  left: 0px;
}
.split3:nth-of-type(2){
  left:33%;
}
.split3:nth-of-type(3){
  left:66%;
}
